@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        <p class="lead">Это платформа для выполнения и управления лабораторными работами. Здесь можно загружать входные и выходные файлы для получения результатов выполнения задач.</p>
        <p class="text-muted">Используйте панель навигации, чтобы выбрать доступные лабораторные работы и загрузить свои файлы.</p>
    </div>
</div>
